---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Methods from "../components/Methods.astro";
import WhyNow from "../components/WhyNow.astro";
import Vision from "../components/Vision.astro";
import FAQ from "../components/FAQ.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Methods />
    <WhyNow />
    <Vision />
    <FAQ />
    <Contact />
  </main>
  <Footer />
</Layout>
